.first-author {
    font-weight: bold;
}

.paper-title {
    font-style: italic;
    font-weight: 500;
    font-size: 1em;
    color: #590004; 
    padding-left: 2.7em;
}

.header-C {
    font-weight: bold;
    color: blue;
    float:left;
}

.header-J {
    font-weight: bold;
    color: orange;
    float:left;
}

.header-T {
    font-weight: bold;
    color: grey;
    float:left;
}

.header-P {
    font-weight: bold;
    color: red;
    float:left;
}

.tab {
    margin-left: 2.7em;
    display: inline-block;
}